*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1F1F1F;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #A3A3A3;
  line-height: 1.5;
}

header {
  width: 100vw;
  font-size: 14px;
  text-transform: uppercase;
  text-align: right;
  color:#A3A3A3;
  background-color: #1A1A1A;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 8px;
  letter-spacing: .5px;
  z-index: 10;
}

nav a{
  padding: 0 10px;
  display: inline;
  color: #BFBFBF;
  text-decoration: none;
}

.site-title {
  font-size: 20px;
  float: left;
}

main {
  position: relative;
  top: 80px;
  width: 500px;
  margin: 0 0 100px 25px;
}

h1 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .15em;
  margin-bottom: 10px;
}

.rake {
  width: 100%;
  height: auto;
}

.jump {
  width: 100vw;
  position: sticky;
  top: 250px;
}

.scare {
  height: 125px;
  width: auto;
  float: right;
}

.story {
  margin: 20px;
}

p {
  text-align: justify;
  padding: 10px 0;
}